<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript">
   $('.panel').on('click', function (e) {
        $('.panel').removeClass('active');
        var $this = $(this);
        if (!$this.hasClass('active')) {
            $this.addClass('active');
        }
        e.preventDefault();
    });

</script> 
<style type="text/css">
   #features-aboutus {
  text-align: center;
  background-image: url(/assets/aboutus-history.png);
}

#features-aboutus i {
  font-size: 48px;
}

#features-aboutus h3 {
  margin-top: 15px;
  font-size: 30px;
  margin-bottom: 7px;
  color: #fff;
}

#features-aboutus .slider-overlay {
  opacity: 0.8;
}
#features-aboutus {
        min-height: 330px;
    }
    #features-aboutus i {
        font-size: 35px;
    }
    #features-aboutus h3 {
        font-size: 25px;
    }
.about-details-menu {
    margin-bottom: 50px;
    text-align: center;
}

.about-details-menu li {
    display: inline-block;
    margin: 0 5px;
}

.about-details-menu li a {
    border: 1px solid #efefef;
    display: block;
    font-size: 18px;
    padding: 12px 20px;
    text-transform: uppercase;
}

.about-details-menu li.active a {
    background: #f39c12 none repeat scroll 0 0;
    border-color: #f39c12;
    color: #fff;
}

.about-history-content {
    margin-bottom: 50px;
}

.about-history-content h3 {
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.about-history-content h3::after {
    border-bottom: 1px dashed  ;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 50px;
}

.about-history-content ul {
    margin-top: 20px;
}

.about-history-content ul li {
    margin-bottom: 5px;
}

.about-history-content.history-list {
    position: relative;
}

.about-history-content.history-list::after {
    background: #e4e4e4;
    content: "";
    height: 100%;
    left: 80px;
    position: absolute;
    top: 0;
    width: 5px;
}

.single-history {
    margin-bottom: 50px;
    padding-left: 125px;
    position: relative;
}

.single-history .history-year {
    font-size: 18px;
    font-weight: 700;
    left: 0;
    position: absolute;
    top: 0;
    width: 85px;
}

.single-history .history-year::before,
.single-history .history-year::after {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 30px;
    position: absolute;
    right: -12px;
    top: 0;
    width: 30px;
    z-index: 9;
}

.single-history .history-year::after {
    background: #f39c12;
    height: 10px;
    right: -2px;
    top: 9px;
    width: 10px;
}
h2 {
    font-size: 36px; 
    color: #3c4a62;
    margin: 0 0 15px;
    font-weight: 700;
    line-height: 1.4em;
    text-transform: uppercase;
    position: relative;
}

.service-content h2::after {
    border-bottom: 1px dashed rgb(243, 156, 18);
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 50px;
}

.area-title h2::before,
.area-title h2::after {
   
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100px;
}

.area-title h2::after {
    background: #f39c12 none repeat scroll 0 0;
    height: 4px;
    width: 200px;
}


.area-title h2 {
    display: inline-block;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 1;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
 
</style>

    <br>
    
      <div class="row">
     
                <div class="col-md-12 col-xs-12">
                    <ul class="  about-details-menu">
                     <center>
                         <li class="scroll tb" ><a href="#company">Company Profile</a></li>
                        <li class="scroll tb"><a href="#history">Our History</a></li> 
                       <li class="scroll tb"><a href="#support">Client Support</a></li>  


                    </center>
                    </ul>
                </div>
            </div>
 <section id="company">
            <div class="row">
    <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
               <div class="area-title text-center wow fadeIn">
          <h2><strong>Company Profile </strong> </h2>
  
          </div>
          </div>
        </div>
      </div> 
              <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                    <div class="tab-content about-details-content">
                        <div id="company" class="about-company tab-pane fade in active">
                            <div class="row">  
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="about-history-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>

                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="about-history-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                    <div class="about-history-content">
                                        <h2 style="color: #1e88e5"><b>Our Mission</b></h2>
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
                                    </div>
                                </div> 
                                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                    <div class="about-history-content">
                                        <h2 style="color: #1e88e5"><b>Our Vision</b></h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                        <ol>
                                            <li class="fa fa-check"> Lorem ipsum dolor sit amet, consectetur.</li>
                                            <li class="fa fa-check"> Lorem ipsum dolor sit amet, consectetur.</li>
                                            <li class="fa fa-check"> Lorem ipsum dolor sit amet, consectetur.</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                    <div class="about-history-content">
                                        <h2 style="color: #1e88e5"><b>Our Goal</b></h2>
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
                                    </div>
                                </div> 
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </section>

  <section id="features-aboutus" class="parallax">
    <div class="container">
      <div class="row">
                   <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                       <h2 style="font-size: 50px;" ><span style="color: #1e88e5">History Of</span> <strong> <span style="color: black;"> New Generation</strong></h2>
                   </div>
            </div>
    </div>
  </section><!--/#features-->
          <section id="history">
           
                            <div class="row">
                             <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms"> 
                                    <div class="about-history-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                       <h2 ><span style="color: #1e88e5">Mile</span> <strong> Stone</strong></h2>
                                 </div>
                                     </div>
                                <div class="heading text-center col-sm-8 col-sm-offset-2">
                                    <div class="about-history-content history-list">
                                        <div class="single-history">
                                            <div class="history-year">
                                                <p>2011</p>
                                            </div>
                                            <h4>we start our business</h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                                        </div>
                                        <div class="single-history">
                                            <div class="history-year">
                                                <p>2012</p>
                                            </div>
                                            <h4>we co-opperate problem solution</h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                                        </div>
                                        <div class="single-history">
                                            <div class="history-year">
                                                <p>2014</p>
                                            </div>
                                            <h4>we are expanding our network </h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                                        </div>
                                        <div class="single-history">
                                            <div class="history-year">
                                                <p>2016</p>
                                            </div>
                                            <h4>we are serve worldwide </h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            </div>
                        </section>
 <section id="support">
     
            <div class="row parallax">
                   <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                       <h2><span style="color: #1e88e5">Client</span><strong> <span style="color: black"> Support</span></strong></h2>
                   </div>
            </div>
                        <div class="row">
                                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">  
                                <div class="row">
                               
                                    <div class="single-promo">
                                        <div class="promo-icon"><i class="fa fa-newspaper-o"></i></div>
                                        <div class="promo-details">
                                            <h3>Latest News</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                    <div class="single-promo">
                                        <div class="promo-icon"><i class="fa fa-umbrella"></i></div>
                                        <div class="promo-details">
                                            <h3>24/7 Support</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                    <div class="single-promo">
                                        <div class="promo-icon"><i class="fa fa-bicycle"></i></div>
                                        <div class="promo-details">
                                            <h3>Fast Delevery</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div> 
                               
                                </div>
                        </div>
                        
 </section>


