
<div class="container">
  <h2>  <strong>Our Current Operation Locations</strong></h2>

 <hr>
</p>                                                                                      
  <div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
		<th>#</th>
        <th>Location</th>
        <th>Outsourced employees we currently Manage</th>
        <th>Total No of employees</th>
        <th>Employee Activities </th>
      </tr>
    </thead>
    <tbody>
     
	  <tr>
		<td>1</td>
		<td>Dilla </td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners </td>
		<td>61</td>
		<td>Store Operations, Coffee/Sesame filled Warehouses Guarding</td>
	  </tr>
	  
	   <tr>
		<td>2</td>
		<td>Hawasa</td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners </td>
		<td>107</td>
		<td>Store Operations, Coffee/Sesame filled Warehouses Guarding</td>
	  </tr>
	  
	   <tr>
		<td>3</td>
		<td>Sodo</td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners </td>
		<td>39</td>
		<td>Store Operations, Coffee/Sesame filled Warehouses Guarding</td>
	  </tr>
	  
	   <tr>
		<td>4</td>
		<td>Combolcha </td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners, Sorters, Mezo </td>
		<td>33</td>
		<td>Store Operations, Coffee/Sesame filled Warehouses Guarding</td>
	  </tr>
	  
	   <tr>
		<td>5</td>
		<td>Bonga</td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners </td>
		<td>60</td>
		<td>Store Operations, Coffee/Sesame filled Warehouses Guarding</td>
	  </tr>
	  
	   <tr>
		<td>6</td>
		<td>Bedele</td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners </td>
		<td>36</td>
		<td>Store Operations, Coffee/Sesame filled Warehouses Guarding</td>
	  </tr>
	  
	   <tr>
		<td>7</td>
		<td>Nekemte</td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners </td>
		<td>41</td>
		<td>Store Operations, Coffee/Sesame filled Warehouses Guarding</td>
	  </tr>
	  
	   <tr>
		<td>8</td>
		<td>Jimma</td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners , Mezo Awchis</td>
		<td>89</td>
		<td>Store Operations, Coffee/Sesame filled Warehouses Guarding</td>
	  </tr>
	  
	   <tr>
		<td>9</td>
		<td>Assosa</td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners , Mezo Awchis</td>
		<td>11</td>
		<td></td>
	  </tr>
	  
	   <tr>
		<td>10</td>
		<td>Gimbi</td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners, Mezo Awchis</td>
		<td>88</td>
		<td>Store Operations, Coffee/Sesame filled Warehouses Guarding</td>
	  </tr>
	  
	   <tr>
		<td>11</td>
		<td>Bure</td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners </td>
		<td>55</td>
		<td>Store Operations, Coffee/Sesame filled Warehouses Guarding</td>
	  </tr>
	  
	   <tr>
		<td>12</td>
		<td>Gondor</td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners </td>
		<td>76</td>
		<td>Store Operations, Coffee/Sesame filled Warehouses Guarding</td>
	  </tr>
	  
	   <tr>
		<td>13</td>
		<td>Metema</td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners, Sorters</td>
		<td>46</td>
		<td>Store Operations, Coffee/Sesame filled Warehouses Guarding</td>
	  </tr>

	  
	 
	  
	   <tr>
		<td>14</td>
		<td>Homora</td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners, Sorters</td>
		<td>121</td>
		<td>Store Operations, Coffee/Sesame filled Warehouses Guarding</td>
	  </tr>

  <tr>
		<td>15</td>
		<td>Addis Abeba </td>
		<td>Security Guards, Security Marshals, Messengers, Cleaners, Office Assistants, Database Assistants, Car Washers, Loading & Unloading Piece rate workers, Gardeners, Clerks, Senior Clerks, Warehouse Assistants, Receptionists, Database assistants, Surveyors, V-track Assistants  Etc …</td>
		<td>383</td>
		<td></td>
	  </tr>
    </tbody>
  </table>
  

  </div>
</div>