
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <style>

h2 {
    font-size: 36px; 
    color: #3c4a62;
    margin: 0 0 15px;
    font-weight: 700;
    line-height: 1.4em;
    text-transform: uppercase;
    position: relative;
}

.service-content h2::after {
    border-bottom: 1px dashed rgb(243, 156, 18);
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 50px;
}

.area-title h2::before,
.area-title h2::after {
   
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100px;
}

.area-title h2::after {
    background: #f39c12 none repeat scroll 0 0;
    height: 4px;
    width: 200px;
}


.area-title h2 {
    display: inline-block;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 1;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
button.accordion {
    background-color: #028fcc;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 16px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}
</style>
</head>
 
 <section id="faq_head">
    <div class="container">
    <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
               <div class="area-title text-center wow fadeIn">
          <h2>Frequently Asked Questions</h2>
          <p>Things you need to know... </p>
          </div>
          </div>
        </div>
      </div> 
<button class="accordion">Do we charge job seekers to use our service? <i class="fa fa-question"></i></button>
<div class="panel">
  <p>Absolutely NOT – we just want to assist you, getting the job you want and provide the Clients who use our services to employ well qualified candidates like you.</p>
</div>

<button class="accordion">How can I register my CV with you? Is the registration free? <i class="fa fa-question"></i></button>
<div class="panel">
  <p>Yes, registration is free & you can send your CV to: vaccancies@nglhrsm.com Or upload in our Website</p>
</div>

<button class="accordion">What are your current vacancies?<i class="fa fa-question"></i></button>
<div id="foo" class="panel">
  <p>All of our current vacancies are advertised on our website (please see latest jobs page) & updated regularly at all times.</p>
</div>

<button class="accordion">How long do you spend interviewing candidates?

 <i class="fa fa-question"></i></button>
<div id="foo" class="panel">
  <p>The average interview takes approximately 45 minutes, however this can differ at times, depending on the role’s specifications, the candidate is being interviewed for.</p>
</div>

<button class="accordion">How are candidates skills tested? <i class="fa fa-question"></i></button>
<div id="foo" class="panel">
  <p>The tests are tailored to meet our clients’ needs and demands. Accordingly different proficiency and skill tests and measures are used to identify the candidate best fit for the vacancy.</p>
</div>

<button class="accordion">How much information do I need to provide when briefing you? <i class="fa fa-question"></i></button>
<div id="foo" class="panel">
  <p>Our experienced human resource pooling/ screening team is trained to source effective and relevant information from our clients. Of course, a face-to-face meeting is preferred.</p>
</div>

<button class="accordion">What happens when candidates are presented to me by the HR team?<i class="fa fa-question"></i></button>
<div id="foo" class="panel">
  <p>When our HR team recommends candidates to you, you should proceed to interview, as soon as possible. </p>
</div>

<button class="accordion">What happens if the candidate does not work out?</button>
<div id="foo" class="panel">
  <p>If a hired candidate does not work out for whatever reason within their probationary period (45 days), we will refill this role once again, as per the terms stated on our Client Contract Agreement. </p>
</div>



</section>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}
</script>

</div>
<!--
<style> 
#car {
    
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 3; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}


/* Standard syntax */
@keyframes example {
     0%   { left:200px; top:0px;}
    25%  { left:400px; top:0px;}
    50%  {  left:400px; top:0px;}
    75%  {  left:200px; top:0px;}
    100% {  left:200px; top:0px;}

}
#quest {
    font-size: 30px;
    height: 65px;
    line-height: 62px;
    width: 65px;
   color:#028fcc;
  }
</style>


<i class="fa fa-question" id="quest" ></i>
-->
