
<div class="container">
  <h2>Our customers</h2>
  <p> 
 Our company has a breadth of experience encompassing all sectors of the industry from small and large privately owned companies, 
 government enterprises, to international humanitarian organizations.
 After years of delivering high performance for various organizations we are still striving to add more values for our customers.
 One of our notable experience is in ECX where we manage over 344 labour forces for various job positions such as Security Guard,
 Security Marshal/ Commodity Escort Service/ Weighing Bridge Technician, Mezo Awechi, Sorter,
 Office Assistant and Cleaner for over two years now with no law suit.<br><br> <strong>Some of our prominent customers include.</strong>
 <hr>
</p>                                                                                      
  <div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Client</th>
        <th>Type of service provided</th>
        <th>Address </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>UNICEF Addis Ababa</td>
        <td>Car washing  and office assistance, data base assistant, senior clerk, warehouse ( for 3 years and still going on)</td>
        <td>Mr Sebastian Muzuma
Addis Ababa, Telephone 011-5-51-51-55,
Fax 0115511628, P.O.Box 1169
</td>
      </tr>
	  <tr>
        <td>2</td>
        <td>World Food Program (WFP)</td>
        <td>Cleaning, Loading and offloading ,fumigation /stacking/restacking & security service For 2 years (and still going on)</td>
        <td>Mr. Sharew Abayney,
Addis Ababa,  Telephone 0115515188 P.O.Box 25584 code 1000, Fax 0115514433
</td>
      </tr>
	  <tr>
		<td>3</td>
		<td>Ethiopian Commodity Exchange</td>
		<td>Security Guarding, Cleaning , Security Marshal, Scale Man, Office Runner And Mezo Laborers (2 years and 10 months and going on) </td>
		<td>Addis Ababa,  Telephone  0115547001, 
Fax 011-5-54-70-10</td>
	  </tr>
	  <tr>
		<td>4</td>
		<td>Ethiopia Trade Enterprises (Alle!)</td>
		<td>Security Service, Cleaning and Gardening (3 months and going on)</td>
		<td>Mr Anteneh Telephone: 0116706062  
P.O.Box: 0708</td>
	  </tr>
	  <tr>
		<td>5</td>
		<td>Ethiopan Insurance corporation</td>
		<td>Security service (1 year)</td>
		<td>Mr. Haile leul Tessema  Telephone: 0115512400
Email:eic.mdxvs@ethionet.et,P.O.B 2545</td>
	  </tr>
	  <tr>
		<td>6</td>
		<td>National alcohol 	 	
</td>
		<td>Security service (1 year)</td>
		<td>Mr. Belete Ebsa 
Addis ababa,  Telephone:0115159370,Email: nationalalcohol@gmail.com</td>
	  </tr>
	  <tr>
		<td>7</td>
		<td>Muger ciment factory </td>
		<td>Security service (1 year) </td>
		<td>Mr ketema Demse, 
Addis Ababa Telephone:0114421480
P.O.Box 30749</td>
	  </tr>
	  <tr>
		<td>8</td>
		<td>Sintec Ethiopia	</td>
		<td>Cleaning service (1 year)</td>
		<td>Beletshachew Werqu  Addis Ababa, Telephone  0116 47 87 87/88</td>
	  </tr>
	  <tr>
		<td>9</td>
		<td>East Africa Bottling S.Co.</td>
		<td>Office assistance/commodity checker, shuttle drivers, office attendants and manifest clerk, V track, Surveyor (2 years and going on)</td>
		<td>Mr Biruk Adugna Addis Ababa, Telephone 0112776450/Mobile:0911091182</td>
	  </tr>
	  <tr>
		<td>10</td>
		<td>Ethiopia Commodity Exchange Authorities</td>
		<td>Cleaning , Guarding and Gardening service (1 year)</td>
		<td>Mr. Hehailu desta , Addis Ababa, Telephone:  011 5502481/82,
Email: ecea@ethionet.et, P.O.Box:25722</td>
	  </tr>
	  <tr>
		<td>11</td>
		<td>International Telecommunication Union 		
</td>
		<td>Driving service</td>
		<td>Addis Ababa, Telephone:+2511514977
P.O.Box: 60005</td>
	  </tr>
	  <tr>
		<td>12</td>
		<td>Al-Bedey </td>
		<td>Electrician, Mechanics, drivers and security service (for 9 years)</td>
		<td>Addis Ababa, Telephone 011 439 19 09, Fax 011 439 24 29, Email albedeyaddis@ethionet.et</td>
	  </tr>
    </tbody>
  </table>
  </div>
</div>